@import 'normalizez.scss'
@import 'resets.scss'

$color-accent-1: #5290EA
$color-accent-2: #F28B64
$color-accent-3: #E2E2E2

*
    box-sizing: border-box

a
    text-decoration: none
    color: #000
    transition: color .3s ease-in
    &:hover
        color: #c3c3c3

.container
    max-width: 1140px
    margin: 0 auto

.main-section
    position: relative
    min-height: 800px
    padding-top: 16px
    background: #F0F0F0
    overflow: hidden
    &__nav-container
        height: 69px
        display: flex
        align-items: center
        justify-content: space-between
    &__content-container
        position: relative
        display: flex
    &__first-elipse
        position: absolute
        top: 129px
        right: 60px
    &__second-elipse
        position: absolute
        top: 650px
        right: -120px

.logo-link
    &__img
        width: 134px
        height: 69px

.nav-menu
    &__list
        display: flex
    &__list-item
        margin-right: 64px
        font-size: 18px
        &:last-child
            margin-right: 0

.left-wrapper
    position: relative
    img
        position: relative
        z-index: 10
    &__rectangle-1
        position: absolute
        top: 150px
        left: -50px
        width: 565.95px
        height: 220px
        background-color: $color-accent-1
        border-radius: 100px
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        transform: rotate(-64deg)
        z-index: 5
    &__rectangle-2
        position: absolute
        width: 618.43px
        height: 220px
        top: 160px
        left: -30px
        background-color: $color-accent-2
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 100px
        transform: rotate(-50.81deg)
        z-index: 3
    &__rectangle-3
        position: absolute
        width: 608.97px
        height: 220px
        top: 190px
        left: 10px
        background-color: $color-accent-3
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 100px
        transform: rotate(-36.15deg)
        z-index: 1

.right-wrapper
    width: 372px
    position: absolute
    top: 150px
    right: 76px
    z-index: 11
    &__icons-box
        position: relative
        margin-bottom: 1px
        z-index: 11
    &__title
        margin-bottom: 5px
    &__text
        margin-bottom: 20px
        font-size: 16px

.icons
    display: flex
    gap: 17px
    &__item
        width: 40px
        height: 40px
        display: flex
        justify-content: center
        align-items: center
        border-radius: 50%
        border: 1px solid $color-accent-1
        transition: all .3s ease-in
        &:hover
            transform: scale(1.1)
    i
        font-size: 21px

.title
    position: relative
    font-size: 72px
    &__hr
        position: absolute
        bottom: 0
        width: 65px
        margin: 0
        border: none
        border-top: 1px solid #000

.buttons
    display: inline-flex
    gap: 32px
    &__main-btn
        width: 200px
        height: 60px
        font-size: 18px
        color: #fff
        background: $color-accent-2
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 100px
        border: none
        cursor: pointer
    &__icon-btn
        display: flex
        align-items: center
        gap: 12px
        cursor: pointer

.elipse
    width: 194px
    height: 194px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    background: linear-gradient(143.92deg, rgba(237, 123, 80, 0.5) 14.85%, rgba(72, 138, 234, 0.5) 53.25%, rgba(44, 44, 44, 0.5) 85.74%)
    &_big
        width: 282px
        height: 282px
    &__subtract
        width: 129.33px
        height: 129.33px
        border-radius: 50%
        background: #F0F0F0
        &_big
            width: 188px
            height: 188px

.second-section
    min-height: 700px
    padding-top: 32px
    &__container
        position: relative
    &__title
        margin-bottom: 40px
    &__cards-box
        display: flex
        gap: 30px
        margin-bottom: 25px
    &__icons-box
        display: flex
        justify-content: space-evenly
    &__first-elipse
        position: absolute
        top: 80px
        right: -60px
        z-index: -1
        &-subtract
            background: #fff
    &__second-elipse
        position: absolute
        top: 364px
        left: -60px
        z-index: -1
        &-subtract
            background: #fff

.cards-item
    position: relative
    width: 360px
    height: 360px
    display: flex
    align-items: flex-end
    background: #E2E2E2
    border-radius: 10px
    &:nth-child(2)
        background: $color-accent-2
    &:nth-child(3)
        background: $color-accent-1
    &__img
        height: 335px
    &__text
        position: absolute
        top: 144px
        right: -45px
        width: 280px
        font-size: 36px
        text-align: center
        transform: rotate(90deg)

.icons-item
    width: 239px
    display: flex
    align-items: center
    gap: 20px
    &__text
        font-size: 18px
        span
            font-size: 48px

.third-section
    position: relative
    min-height: 640px
    background: #F0F0F0
    overflow: hidden
    &__container
        min-height: 640px
        display: flex
        justify-content: space-between
        align-items: center
    &__left-wrapper
        position: relative
        top: -180px
        &__title
            position: absolute
            top: 150px
            left: 150px
    &__first-elipse
        position: absolute
        top: -120px
        right: -100px
    &__second-elipse
        position: absolute
        top: 0
        left: 80px
    &__sircle
        position: absolute
        top: 120px
        left: 0
    &__right-wrapper
        width: 479px
    &__title
        margin-bottom: 20px
    &__text
        margin-bottom: 30px
        font-size: 18px

.title__hr_top
    bottom: 75px
